/* Acá va tu código */
html {
    background-image: url("img/Fondo-de-pantalla-Abstracto-277.jpg");
}
h1 {
    text-align: center;
    color: wheat;
    font-family: Cambria;
    font-size: 400%;
    text-shadow:black 4px 0;

}
.caja {
    height: 200px;
    width: 400px;
    border: 4px inset crimson;
    margin: 5px;
    display: inline-block;
    background-color: none;
    position: relative;
    left: 400px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#button1, #button2 {
    position: relative;
    left: 400px;
}
#cajadescifrar, #cajacifrar{
    height: 100px;
    width: 395px;
    background-color: #AA5439;
    color: wheat;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    color:maroon;
    border-bottom: #4C0017 3px dotted;
}